Cython
lxml==4.1.1
tqdm==4.19.4
requests==2.18.4
gensim==2.3.0
tensorflow==1.4.0
overrides==1.9
tensorflow==1.4.0
kenlm==0.0.0
six==1.11.0
h5py==2.7.1
keras==2.1.2
pandas==0.21.1
fuzzywuzzy==0.16.0
fasttext==0.8.3
pyfasttext==0.4.4
nltk==3.2.4
scikit-learn==0.19.0
spacy==2.0.5
pytelegrambotapi==3.5.2
