aio-pika==5.6.0
Cython==0.29.14
fastapi==0.38.1
fuzzywuzzy==0.17.0
h5py==2.10.0
nltk==3.4.5
numpy==1.18.0
overrides==2.7.0
pandas==0.25.3
pymorphy2==0.8
pymorphy2-dicts-ru
pyopenssl==19.1.0
pytelegrambotapi==3.6.6
requests==2.22.0
rusenttokenize==0.0.5
scikit-learn==0.22
scipy==1.4.1
tqdm==4.41.0
uvicorn==0.9.0